*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body{
    background-color: #e6e6e6;
}

#navbar{
    height: 60px;
    background-color: #121520;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* nav box 1 */

.nav-logo{
    height: 50px;
    width: 110px;
    margin: 5px 0px 5px 11px;
}

.logo{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 45px;
    width: 110px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}

/* nav box 2 */

.nav-address{
    padding: 9px 9px;
    margin: 5px 2px 5px 5px;
}

.addr-1{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.addr-2{
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 3px;
}

.addr-icon{
    display: flex;
    align-items: center;
}

/* nav box 3 */

.nav-search{
    height: 40px;
    width: 895px;
    display: flex;
    border-radius: 4px;
    margin: 10px;
    border: 2px solid transparent;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    color: #595959;
    background-color: #e6e6e6;
    padding: 6px;
    border-color: rgb(206, 206, 206);
    border-top-left-radius:  4px;
    border-bottom-left-radius:  4px;
}

.search-select:hover{
    color: #0d0d0d;
    background-color: #cecece;
}

.search-input{
    width: 770px;
    border: white none;
    font-size: 1rem;
}

.search-lens{
    width: 40px;
    background-color: white;
}

.lens-img{
    height: 20px;
    width: 20px;
    padding: 10px;
}

.search-icon{
    width: 45px;
    color: black;
    background-color: rgb(239, 200, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:  3px;
    border-bottom-right-radius:  3px;
    font-size: 1.2rem;
}

.search-icon:hover{
    background-color: rgb(241, 183, 24);
}

/* nav box 4 */
.sign-in{
    height: 40px;
    width: 120px;
    padding: 5px;
    margin:  5px;
}

.sign-in-1{
    font-size: 0.8rem;
}

.sign-in-2{
    font-size: 0.9rem;
    font-weight: 700;
}

/* nav box 5 */

.return-orders{
    height: 40px;
    width: 65px;
    padding: 5px;
    margin:  5px;
}

.return-1{
    font-size: 0.8rem;
}

.return-2{
    font-size: 0.9rem;
    font-weight: 700;
}

/* nav box 6 */
.cart i{
    font-size: 35px;
}

.cart{
    height: 39px;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px;
    margin: 5px;
}