*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body{
    background-color: #e6e6e6;
}

#navbar{
    height: 60px;
    background-color: #121520;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* nav box 1 */

.nav-logo{
    height: 50px;
    width: 110px;
    margin: 5px 0px 5px 11px;
}

.logo{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 45px;
    width: 110px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}

/* nav box 2 */

.nav-address{
    padding: 9px 9px;
    margin: 5px 2px 5px 5px;
}

.addr-1{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.addr-2{
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 3px;
}

.addr-icon{
    display: flex;
    align-items: center;
}

/* nav box 3 */

.nav-search{
    height: 40px;
    width: 895px;
    display: flex;
    border-radius: 4px;
    margin: 10px;
    border: 2px solid transparent;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    color: #595959;
    background-color: #e6e6e6;
    padding: 6px;
    border-color: rgb(206, 206, 206);
    border-top-left-radius:  4px;
    border-bottom-left-radius:  4px;
}

.search-select:hover{
    color: #0d0d0d;
    background-color: #cecece;
}

.search-input{
    width: 770px;
    border: white none;
    font-size: 1rem;
}

.search-lens{
    width: 40px;
    background-color: white;
}

.lens-img{
    height: 20px;
    width: 20px;
    padding: 10px;
}

.search-icon{
    width: 45px;
    color: black;
    background-color: rgb(239, 200, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:  3px;
    border-bottom-right-radius:  3px;
    font-size: 1.2rem;
}

.search-icon:hover{
    background-color: rgb(241, 183, 24);
}

/* nav box 4 */
.sign-in{
    height: 40px;
    width: 120px;
    padding: 5px;
    margin:  5px;
}

.sign-in-1{
    font-size: 0.8rem;
}

.sign-in-2{
    font-size: 0.9rem;
    font-weight: 700;
}

/* nav box 5 */

.return-orders{
    height: 40px;
    width: 65px;
    padding: 5px;
    margin:  5px;
}

.return-1{
    font-size: 0.8rem;
}

.return-2{
    font-size: 0.9rem;
    font-weight: 700;
}

/* nav box 6 */
.cart i{
    font-size: 35px;
}

.cart{
    height: 39px;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px;
    margin: 5px;
}

/* panel */
.panel{
    background-color: #232f3e;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* panel div 1 */
.panel-all{
    color: white;
    font-weight: 700;
    padding: 9px;
    margin-left: 10px;
    display: inline-flex;
}

.panel-all i{
    font-size: 20px;
    padding-right: 5px;
}

/* panel div 2 */
.panel a{
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 11px 7px;
}

.panel-a{
    width: 85%;
}

/* shop deals - panel  */
.shop-deals{
    width: 200px;
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 11px 7px;
}

/* hero section  */
.fade-bottom{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.hero-section{
    background-image: url("./images/background-img.jpg");
    background-size: cover;
    position: relative;
    height: 600px;
    width: 1519.2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #e6e6e6);
    z-index: 1;
}

.hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0), #e6e6e6);
    z-index: 2;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-msg{
    background-color: #f5f6f6;
    color: #0f1111;
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    width: 94%;
    height: 18px;
    margin-bottom: 320px;
    z-index: 3;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}